{# templates/security/login.html.twig #}
{% extends 'layouts/base.html.twig' %}


{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div>
            <label for="password">Password:</label>
             <input type="password" id="password" name="_password" />
        </div>
    </div>

    <button type="submit">login</button>
    <p class="message">Pas de compte ? <a href="{{ path('register') }}">Créez en-un !</a></p>
</form>



{% endblock %}

