section
{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgoldenrodyellow;
}

.navbar
{
    background-color:black;
}
div.navbar-header a
{
    margin-right: 30px;
}
.navbar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}


