{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <h1>COUCOU</h1>
    <p> Je vous recommande de cliquer sur "mes cartes" dans le menu ci-dessus.</p>
    <p> Après, libre à vous d'ajouter des cartes, d'en retirer, etc...</p>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}